*
{
    margin:0px;
    padding:0px;
}


#header h1
{
    display:inline-block;
    margin:50px 15px ;
}

#header li
{
    float:right;
    list-style:none;
    font-size:18px;
    margin:45px 35px;
}

#container1
{
    background-color:rgb(238,238,238);
    padding:40px 20px;
}

#container1 h2
{
    margin:10px;
    font-size:35px;
}

#container1 p
{
    width:15%;
    margin:0px 10px;
}

#container1 button
{
    padding:5px;
    margin:10px;
    border-radius:5px;
}

.container2
{
    padding:20px 40px;
    display:inline-block;
    width:25%;
    margin:0px 10px;
}
@media screen and (max-width:800px)
{
    .container2
    {
        width:50%;
    }
    #container1 p
    {
        width:40%;
    }
    
    #container3
    {
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #container3 input[type="submit"]
    {
        border:2px solid black;
        margin:8px 60px;
    }
    .container2 h2,.container2 p
    {
        margin:0px 35px;
        width:300px;
    }
    .container2 a
    {
        text-align: center;
        width:50%;
    }
}
.container2 div
{
    width:350px;
    height:150px;
    background-color:rgb(238,238,238)
}

.container2 h2,.container2 p
{
    text-align:center;
    padding:10px 0px;
}

.container2 p
{
    padding:2px 0px;
}

.container2 a
{
    display:block;
    margin:0px 100px;
    padding:10px 20px;
}

#container3 
{
    background-color:rgb(238,238,238);
    overflow:hidden;
    padding:2% 20%;
}
#container3 h2,#container3 input
{
    float: left;
}

#container3 input[type="textbox"]
{
    width:300px;
    height:25px;
    padding:0px 5px;
    margin:0px 10px;
}

#container3 h2
{
    font-size:30px;
}

#container3 input[type="submit"]
{
    padding:2px 0px;
    background-color:#288ACF;
    text-align:center;
    width:200px;
    
    font-size:18px;
    color:#fff;
}
#footer
{
    padding:25px 20px;
}

#footer p
{
    display:inline-block;
}

#footer p:nth-child(2)
{
    float:right;
}



